body {
				color: #333;
				font-family: 'Open Sans', sans-serif;
				margin: 0;
				padding: 0;
			}

			#main_content {
				margin: 40px;
			}

			h1 {
			 	font-size: 30px;
			 	margin-bottom: 40px;
			}

			.button_container {
				border: 1px solid #ddd;
				margin: 0 10px 10px 0;
				padding: 20px;
				width: 300px;
				height: 300px;
				float: left;
				overflow: hidden;
				box-sizing: border-box;
				text-align: center;
			}



			a#btn_spotify {
				display: inline-block;
				height: 50px;
				box-sizing: border-box;
				border-radius: 25px;
				margin: auto;
				margin-top: 100px;
				padding: 10px 40px 0 40px;
				background-color: #2ebd59;
				border: 2px solid #2ebd59;
				color: #fff;
				font-size: 20px;
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;
				text-decoration: none;
			}

			a#btn_spotify:hover {
				background-color: #fff;
				border: 2px solid #000;
				color: #000;
			}


			a#btn_twitter {
				display: inline-block;
				height: 40px;
				box-sizing: border-box;
				border-radius: 4px;
				margin: auto;
				margin-top: 105px;
				padding: 10px 30px 0 30px;
				background-color: #56cdf1;
				color: #fff;
				font-size: 18px;
				font-family: 'Arial', sans-serif;
				font-weight: bold;
				text-decoration: none;
			}

			a#btn_twitter:hover {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ebfec+0,28a5cb+100 */
				background: #2ebfec; /* Old browsers */
				background: -moz-linear-gradient(top,  #2ebfec 0%, #28a5cb 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ebfec), color-stop(100%,#28a5cb)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #2ebfec 0%,#28a5cb 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=0 ); /* IE6-9 */
			}


			a#btn_amazon {
				display: block;
				width: 100px;
				height: 100px;
				box-sizing: border-box;
				border-radius: 50px;
				margin: auto;
				margin-top: 75px;
				padding-top: 8px;
				background-color: #232f3e;
				color: #fff;
				text-align: center;
				font-size: 60px;
			}

			a#btn_amazon:hover {
				background-color: #fc9a18;
			}


			a#btn_indiegogo {
				display: inline-block;
				margin:auto;
				margin-top: 100px;
				padding: 8px 16px;
				background-color: #fff;
				color: #eb1478;
				font-family: 'Ubuntu', sans-serif;
				font-size: 30px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: -2px;
			}
			a#btn_indiegogo:hover {
				color: #fff;
				background-color: #eb1478;
			}
			a#btn_cocacola:hover {
				filter: sepia(100%);
			}
.cocacola {width: 150px; height:150px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}
		
a#btn_apple:hover {
				filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
				background-color:cyan;
			}
.apple {width: 225px; height:150px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}	
a#btn_ibm:hover {filter:invert(100%);
				background-color:black;
			}
.ibm {width: 175px; height:75px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}
a#btn_nerf:hover {
				filter: grayscale(100%);}
.nerf {width: 225px; height:125px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}
a#btn_harley:hover {filter:invert(100%);
	border: 2px solid #000;
				background-color:white;
			}
.harley {width: 150; height:150px;
			float: center; margin-top: 50px;

				box-sizing: border-box;}
a#btn_mk:hover {filter:blur(10px);
				background-color:black;
			}
.mk {width: 175px; height:115px;
			float: center; margin-top: 60px;
				box-sizing: border-box;}
a#btn_ideo:hover {filter:opacity(.2);
			}
.ideo {width: 175px; height:75px;
			float: center; margin-top: 80px;
				box-sizing: border-box;}
a#btn_lyft:hover {filter:invert(100%);
				background-color:black;
			}
.lyft {width: 125px; height:125px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}
a#btn_nike:hover {filter:blur(10px);
			}
.nike {width: 175px; height:75px;
			float: center; margin-top:75px;
				box-sizing: border-box;}
a#btn_nbc:hover {filter:brightness(3);
			}
.nbc {width: 150px; height:150px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}
a#btn_sam:hover {filter:invert(100%);
			}
.sam {width: 175px; height:80px;
			float: center; margin-top:75px;
				box-sizing: border-box;}
a#btn_dime:hover {filter:hue-rotate(90deg);
			}
.dime {width: 150px; height:150px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}
a#btn_kit:hover {filter:saturate(8);
			}
.kit {width: 150px; height:150px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}
a#btn_cn:hover {filter:invert(100%);
			}
.cn {width: 175px; height:110px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}
a#btn_mbg:hover {filter:blur(40px);
			}
.mbg {width: 150px; height:150px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}
a#btn_bis:hover {filter:brightness(3);
			}
.bis {width: 150px; height:175px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}
a#btn_tcr:hover {filter:hue-rotate(235deg);
			}
.tcr {width: 175px; height:125px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}
a#btn_moo:hover {filter:sepia(100%);
			}
.moo {width: 175px; height:125px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}
a#btn_fb:hover {filter:invert(100%);
			}
.fb {width: 175px; height:55px;
			float: center; margin-top: 75px;
				box-sizing: border-box;}
a#btn_ta:hover {filter:grayscale(100%);
	filter: blur(5px)
			}
.ta {width: 175px; height:55px;
			float: center; margin-top: 85px;
				box-sizing: border-box;}
a#btn_army:hover {filter:hue-rotate(90deg);
			}
.army {width: 115px; height:155px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}
a#btn_eb:hover {filter:hue-rotate(90deg);
			}
.eb {width: 200px; height:125px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}
a#btn_fab:hover {filter:opacity(.5);
			}
.fab {width: 150px; height:150px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}
a#btn_ig:hover {filter:contrast(4);
			}
.ig {width: 150px; height:150px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}
a#btn_hsn:hover {filter:contrast(4);
			}
.hsn {width: 150px; height:150px;
			float: center; margin-top: 50px;
				box-sizing: border-box;}




























