styles.css
html
html,
body {
	background-color: mintcream;
	font-family: "Crimson text", serif;
	width: 800px;
	margin: auto;
	font-size: 24px;
}
.section {
	padding: 24px;
	Background-color: lavender;
}
.sub-section {background-color: lavender;}.font-weight .bold {font-weight: bold;}
.font-weight .normal {font-weight: normal;}
.font-style .italic {font-style: italic;}
.letter-spacing .x5 {letter-spacing: 5px}
.text-transform .uppercase {text-transform: uppercase;}
.text-transform .lowerase {text-transform: lowercase;}
.text-transform .capitalize {text-transform: capitalize;}
.text-decoration .underline {text-decoration: underline;}
.text-decoration .overline {text-decoration: overline;}
.text-decoration .line-through {text-decoration: line-through;}
.p {font-size: 18px; color: darkviolet;}