body {background-image: url("page.png"); position: fixed;}
.nav {color: maroon; 
	font-family: "helvetica", arial, sans-serif;
	 font-size: 20px; margin-left: 40px; margin-top: 15px;
	 position: fixed; white-space: nowrap;
}
p {white-space: nowrap;}
a#home:hover {color: white;
			}
a#about:hover {color: white;
			}
a#cast:hover {color: white;
			}
a#reviews:hover {color: white;
			}
a:link {
    color: maroon;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
.logo {height: 100px; width: 250px;
margin-left: 1150px;}
p {font-family: "helvetica", arial, sans-serif;
width: 400px; margin-left: 100px; margin-top: 35px;
position: fixed; line-height: 20px;}
li {font-family: "helvetica", arial, sans-serif;
list-style: none; width: 500px; margin-left: 100px;}
h1 {font-family: "helvetica", arial, sans-serif;
width: 400px; margin-left: 100px; margin-top: -50px;
position: fixed;}
.img {width: 375px; height: 500px; position: fixed;
	margin-left: 750px; margin-top: -550px;
	}
h2{font-family: "helvetica", arial, sans-serif;
width: 400px; margin-left: 100px; font-size: 15px;}

@media screen and (max-width:1000px){
	li{font-size: 10px; margin-left:25px;}
	h2{font-size: 10px; margin-left:25px;}
	.img {width:200px; height:265px; margin-left:400px; margin-top:-400px; 
}
}